name: Build and Test

on:
  schedule:
    - cron: '*/5 * * * *'  # Every 5 minutes
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set up Playwright
        run: |
          npm install -D playwright
          npx playwright install

      - name: Build with Maven
        run: mvn clean install -Dmaven.compiler.source=1.8 -Dmaven.compiler.target=1.8

#      - name: Build with Maven
#        run: mvn clean install -Dmaven.compiler.source=1.8 -Dmaven.compiler.target=1.8 --add-opens=jdk.compiler/com.sun.tools.javac.processing=ALL-UNNAMED

      - name: Run Tests
        run: mvn test
